<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <meta charset="UTF-8">
        <title>Produits</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container mt-4">
                <div class="panel panel-primary col-lg-6 col-lg-offset-3">
                    <div class="panel-heading">Accee Reffusee</div>
                </div>
            </div>
        </div>
    </body>
</html>